@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {

  .headerMenu ul li {
    margin: 2.1em 0 0 .4em;
  }

  .headerSocialMedia ul li a i {
    height: 22px;
    width: 22px;
    font-size: 1em;
    line-height: 22px;
  }

  .headerLogo h2 {
    margin: 2.2em 1em 0 0;
  }

  .mainContent h3 {
    margin: 0 0 1em 0;
  }

  .contentButton {
    margin-top: 0em;
  }

}

@media screen and (max-width: 1024px) {

  .mainPhoto img {
    padding: .3em 0;
  }
  .headerLogo h2 {
    margin: 2.2em 1em 0 0;
  }

}

@media screen and (max-width: 768px) {

  .headerLogo img {
    width: 10%;
  }

  .mainPhoto img {
    padding: 0;
    margin-top: 7em;
  }

  .headerLogo h2 {
    margin: 1.2em 1em 0 0;
  }

  .headerSocialMedia ul li {
    margin: 1.2em 0 0 .3em;
  }

  .contentButton {
    margin: 0 0 1em 0;
  }
}

@media screen and (max-width: 568px) {

  .headerLogo img {
    margin: .5em 0;
  }

  .headerLogo h2 {
    margin: 1.2em 1em 0 0;
  }

  .mainPhoto img {
    margin-top: 0;
  }

  .whatDoLogo, .whatDoDescription {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .headerLogo h2 {
    margin: .7em 1em 0 0;
  }

  .mainPhoto img {
    margin-top: 0;
  }
}
