/*
    1. All
		2. Header
		3.Body
		4.Footer
*/

/*------------------------
    1. All
------------------------*/

@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/IRANSansWeb_Light.eot');
	src: url('fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype');  /* IE6-8 */
	src: url('fonts/woff2/IRANSansWeb_Light.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
	src: url('fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: iransansbold;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/IRANSansWeb_Bold.eot');
	src: url('fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url("fonts/iranyekan/fnumber/iranyekanweblight.eot");
	src: url("fonts/iranyekan/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekan/fnumber/iranyekanwebregular(fanum).woff2") format("woff2"), url("fonts/iranyekan/fnumber/iranyekanweblight.woff") format("woff"), url("fonts/iranyekan/fnumber/iranyekanweblight.ttf") format("truetype")
}
@font-face {
	font-family: iranyekanbold;
	font-style: normal;
	font-weight: 300;
	src: url("fonts/iranyekan/fnumber/iranyekanweblight.eot");
	src: url("fonts/iranyekan/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekan/fnumber/iranyekanwebbold(fanum).woff2") format("woff2"), url("fonts/iranyekan/fnumber/iranyekanweblight.woff") format("woff"), url("fonts/iranyekan/fnumber/iranyekanweblight.ttf") format("truetype")
}
body {
	height:auto;
	color: #000000;
	font-family: iranyekan;
  direction: rtl;
  background-color: #f5f5f5;
}
li {
	list-style:none;
}
ul {
	padding:0px !important;
	margin:0px !important;
}
a {
	transition:all .2s !important;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	color:#000000;
}
a ,a:hover, a:focus, a:active ,a:visited {
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6 {
	padding:0px;
	margin:0px;
}
p, figure {
	margin: 0;
}
:focus, button:focus {
	outline: 0;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #e3e3e3; 
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #a6120d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a6120d;
}

/*------------------------
    2. Header
------------------------*/

.bodyHeader, .headerLogo, .headerMenu, .headerSocialMedia {
	width: 100%;
	height: auto;
	float: right;
}

.bodyHeader {
	background-color: white;
	margin-bottom: 1em;
}

.headerLogo img {
	margin: 1em 0;
	width: 30%;
	float: right;
}

.headerLogo h2 {
	font-family: iranyekanbold;
	font-size: medium;
	float: right;
	margin: 2.6em 1em 0 0;
}

.headerMenu {
	text-align: center;
}

.headerMenu ul li {
	display: inline-block;
	margin: 2.6em 0 0 1em;
}

.headerMenu ul li a {
	display: block;
	padding: .5em 1.5em .7em 1.5em;
}

.headerMenu ul li a:hover {
	border-bottom: solid .5em #a6120d;
	color: #000000;
	background-color: #e3e3e3;
}

.headerSocialMedia ul li {
	float: left;
	margin: 2.5em 0 0 .3em;
	text-align: center;
}

.headerSocialMedia ul li a {
	display: block;
	background-color: #e3e3e3;
}

.headerSocialMedia ul li a i {
	height: 25px;
	width: 25px;
	font-size: 1.2em;
	line-height: 25px;
}

.headerSocialMedia ul li a i:hover {
	color: white;
}

#telegramLogo:hover {
	background-color: #0088cc;
}

#instagramLogo:hover {
	background-color: #E1306C;
}

#twitterLogo:hover {
	background-color: #1DA1F2;
}

#whatsappLogo:hover {
	background-color: #4AC959;
}

#facebookLogo:hover {
	background-color: #4267B2;
}

/*------------------------
    3. Main
------------------------*/

.bodyPart, .mainPhoto, .mainPhoto img, .mainContent, .mainContent p, .contentButton, .odyPartTitle, .whatDoBox, .whatDoDescription, .blogDate, .blogTitle, .blogDescription, .blogBox, .blogPhoto, .contactBox {
	width: 100%;
	height: auto;
	float: right;
}

.bodyPart {
	margin-bottom: 1em;
	background-color: white;
}

.bodyPartTitle h3 {
	font-family: iranyekanbold;
	font-size: medium;
	margin: 2em 0;
	padding-bottom: .5em;
	border-bottom: solid 2px #a6120d;
	float: right;
}

.mainPhoto, .mainContent {
	padding: 2em 0;
}

.mainContent h3 {
	color: rgb(118, 118, 118);
	margin: 6em 0 1em 0;
	font-size: .9em;
}

.mainContent h1 {
	margin-bottom: 1em;
	font-family: iranyekanbold;
	font-size: xx-large;
}

.mainContent p {
	text-align: justify;
	color: rgb(96, 96, 96);
	font-family: iransans;
	line-height: 2.2em;
}

.contentButton {
	margin-top: 3em;
	text-align: left;
}

.contentButton a {
	border: solid 2px #a6120d;
	padding: .6em 1.2em .8em;
}

.contentButton a:hover {
	background-color:#a6120d;
	color: white;
}

.whatDoBox {
	border: #a6120d4c solid 1px;
	padding: .8em;
	margin-bottom: 2em;
}

.whatDoLogo {
	text-align: center;
	width: 15%;
	height: auto;
	font-size: 8em;
	color:#a6120d;
	float: right;
}

.whatDoDescription {
	width: 80%;
	height: auto;
	float: left;
}

.whatDoDescription h3 {
	font-family: iranyekanbold;
	font-size: medium;
}

.whatDoDescription p {
	font-family: iransans;
	font-size: small;
	margin: 2em 0;
	line-height: 2em;
}

.blogBox {
	margin-bottom: 2em;
	border: #a6120d30 solid 1px;
}

.blogPhoto {
	overflow: hidden;
	position: relative;
}

.blogPhoto img {
	width: 100%;
	height: auto;
	transition: all .5s;
}

.blogPhoto img:hover {
	transform: scale(1.1);
}

.blogPhotoTitle {
	position: absolute;
	z-index: 2;
	top: 1em;
	right: 1em;
}

.blogPhotoTitle h3 {
	font-size: medium;
	background-color: #a6120d;
	color: white;
	padding: .3em;
}

.blogDate {
	color: rgb(142, 142, 142);
	font-size: small;
	padding: 1em;
}

.blogTitle h3 {
	font-family: iranyekanbold;
	padding: 0 1em;
	font-size: medium;
}

.blogTitle h3:hover {
	color: #a6120d;
}

.blogDescription {
	padding: 1em;
	line-height: 2;
	font-family: iransans;
}

.contactBox {
	border: #a6120da1 solid 2px;
	text-align: center;
	transition: .3s;
	margin: 1em 0 2em 0;
	padding: 1em 0;
}

.contactBox:hover {	
	box-shadow: .3em .3em .7em rgba(0,0,0,.2)
	/* -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
	-ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
	-o-box-shadow: 1px 1px 7px rgba(0,0,0,.2); */
}

.contactBox i {
	font-size: 3em;
	color: #a6120d;
	margin: .5em 0;
}
.contactBox h4 {
	font-family: iranyekanbold;
	margin: .5em 0;
}

.bodyEnd {
	margin-bottom: 0;
}

/*------------------------
    4. Footer
------------------------*/

.bodyFooter, .footerTitle, .footerContent, .footerContent, .designer {
	width: 100%;
	height: auto;
	float: right;
}

.bodyFooter {
	background-color: #e3e3e3;
	border-top: 1px solid #a6120da1;
}

 .footerTitle h4 {
	font-family: iranyekanbold;
	font-size: medium;
	margin: 2em 0;
	padding-bottom: .5em;
	border-bottom: solid 2px #a6120d;
	float: right;
}

.footerContent ul li {
	margin-bottom: 1.5em;
	width: 100%;
	float: right;
}

.footerContent ul li h3 {
	font-size: small;
	line-height: 2em;
}

.footerContent ul li h3 i {
	margin: 7px 0 0 4px;
	float: right;
}

.footerPhoto {
	text-align: center;
}

.footerPhotoContent {
	margin: 2em;
	text-align: justify;
}

.designer {
	background-color: #a6120d7d;
	font-family: iransans;
	font-size: small;
	padding: 1em;
	text-align: center;
}