/*
    1. All
		2. Header
		3. Body
		4. Footer
		5. Single
		6. Sidebar
		7. Category
		8. Contactus
*/

/*------------------------
    1. All
------------------------*/

@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/IRANSansWeb_Light.eot');
	src: url('fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype');  /* IE6-8 */
	src: url('fonts/woff2/IRANSansWeb_Light.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
	src: url('fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: iransansbold;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/IRANSansWeb_Bold.eot');
	src: url('fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url("fonts/iranyekan/fnumber/iranyekanweblight.eot");
	src: url("fonts/iranyekan/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekan/fnumber/iranyekanwebregular(fanum).woff2") format("woff2"), url("fonts/iranyekan/fnumber/iranyekanweblight.woff") format("woff"), url("fonts/iranyekan/fnumber/iranyekanweblight.ttf") format("truetype")
}
@font-face {
	font-family: iranyekanbold;
	font-style: normal;
	font-weight: 300;
	src: url("fonts/iranyekan/fnumber/iranyekanweblight.eot");
	src: url("fonts/iranyekan/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekan/fnumber/iranyekanwebbold(fanum).woff2") format("woff2"), url("fonts/iranyekan/fnumber/iranyekanweblight.woff") format("woff"), url("fonts/iranyekan/fnumber/iranyekanweblight.ttf") format("truetype")
}
body {
	height:auto;
	color: #000000;
	font-family: iranyekan;
  direction: rtl;
  background-color: #f5f5f5;
}
li {
	list-style:none;
}
ul {
	padding:0px !important;
	margin:0px !important;
}
a {
	transition:all .2s !important;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	color:#000000;
}
a ,a:hover, a:focus, a:active ,a:visited {
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6 {
	padding:0px;
	margin:0px;
}
p, figure {
	margin: 0;
}
:focus, button:focus {
	outline: 0;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #e3e3e3; 
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #a6120d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a6120d;
}

.divShadow {
	box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
  /* -moz-box-shadow: 5px 2px 9px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 2px 9px rgba(0,0,0,0.2);
	-ms-box-shadow: 5px 2px 9px rgba(0,0,0,0.2);
	-o-box-shadow: 5px 2px 9px rgba(0,0,0,0.2);	  */
}
/*------------------------
    2. Header
------------------------*/

.bodyHeader, .headerLogo, .headerMenu, .headerSocialMedia {
	width: 100%;
	height: auto;
	float: right;
}

.bodyHeader {
	background-color: white;
	display: flex;
}

.headerLogo img {
	margin: 1em 0;
	width: 30%;
	float: right;
}

.headerLogo h2 {
	font-family: iranyekanbold;
	font-size: medium;
	float: right;
	margin: 2.6em 1em 0 0;
}

.headerMenu {
	text-align: center;
}

.headerMenu ul li {
	display: inline-block;
	margin: 2.6em 0 0 1em;
}

.headerMenu ul li a {
	display: block;
	padding: .5em 1.5em .7em 1.5em;
	border-bottom: solid .5em white;
}

.headerMenu ul li a:hover {
	border-bottom: solid .5em #a6120d;
	color: #000000;
	background-color: #e3e3e3;
}

.headerSocialMedia ul li {
	float: left;
	margin: 2.5em 0 0 .3em;
	text-align: center;
}

.headerSocialMedia ul li a {
	display: block;
	background-color: #e3e3e3;
}

.headerSocialMedia ul li a i {
	height: 25px;
	width: 25px;
	font-size: 1.2em;
	line-height: 25px;
}

.headerSocialMedia ul li a i:hover {
	color: white;
}

#telegramLogo:hover {
	background-color: #0088cc;
}

#instagramLogo:hover {
	background-color: #E1306C;
}

#twitterLogo:hover {
	background-color: #1DA1F2;
}

#whatsappLogo:hover {
	background-color: #4AC959;
}

#facebookLogo:hover {
	background-color: #4267B2;
}

#stickyNavbar {
	background-color: rgba(255,255,255,0.95);
	position: fixed;
	top: -120px;
	width: 100%;
	display:block;
	transition: top 0.3s;
	z-index: 99999;
	box-shadow: 5px 2px 9px rgba(0,0,0,0.5);
	/* -moz-box-shadow: 5px 2px 9px rgba(0,0,0,0.5);
	-webkit-box-shadow: 5px 2px 9px rgba(0,0,0,0.5);
	-ms-box-shadow: 5px 2px 9px rgba(0,0,0,0.5);
	-o-box-shadow: 5px 2px 9px rgba(0,0,0,0.5);	 */
	}

	.stickyLogo img {
		width: 70%;
		height: auto;
		padding: 1em 0;
	}

	#stickyNavbar .headerMenu ul li {
		float: right;
		margin: 1.3em 0 0 1em;
	}

	#stickyNavbar .headerSocialMedia ul li {
		margin-top: 1.7em;
	}

	#back2Top {
		display: none;
	}
	
	#back2Top a {
		width: 20;
		height: 20;
		float: right;
		text-align: center;
		line-height: 20px;
		font-size: 1.5em;
		color: #000;
	}  

	#back2Top a:hover {
		color: #a6120d;
	}  
	
	.fix-btn {
		width: auto;
		height: auto;
		position: fixed;
		z-index: 9999;
		right: 3.2em;
		bottom: 3.2em;
		background-color: white;
		padding: .3em;
	}
	
/*------------------------
    3. Main
------------------------*/

.bodyPart, .mainPhoto, .mainPhoto img, .mainContent, .mainContent p, .contentButton, .odyPartTitle, .whatDoBox, .whatDoDescription, .blogDate, .blogTitle, .blogDescription, .blogBox, .blogPhoto, .contactBox {
	width: 100%;
	height: auto;
	float: right;
}

.bodyPart {
	margin-top: 1em;
	background-color: white;
}

.bodyPartTitle h3 {
	font-family: iranyekanbold;
	font-size: medium;
	margin: 2em 0;
	padding-bottom: .5em;
	border-bottom: solid 2px #a6120d;
	float: right;
}

.mainPhoto, .mainContent {
	padding: 2em 0;
}

.mainContent h3 {
	color: rgb(118, 118, 118);
	margin: 6em 0 1em 0;
	font-size: .9em;
}

.mainContent h1 {
	margin-bottom: 1em;
	font-family: iranyekanbold;
	font-size: xx-large;
}

.mainContent p {
	text-align: justify;
	color: rgb(96, 96, 96);
	font-family: iransans;
	line-height: 2.2em;
}

.contentButton {
	margin-top: 3em;
	text-align: left;
}

.contentButton a {
	border: solid 2px #a6120d;
	padding: .6em 1.2em .8em;
}

.contentButton a:hover {
	background-color:#a6120d;
	color: white;
}

.whatDoBox {
	border: #a6120d4c solid 1px;
	padding: .8em;
	margin-bottom: 2em;
}

.whatDoLogo {
	text-align: center;
	width: 15%;
	height: auto;
	font-size: 8em;
	color:#a6120d;
	float: right;
}

.whatDoDescription {
	width: 80%;
	height: auto;
	float: left;
}

.whatDoDescription h3 {
	font-family: iranyekanbold;
	font-size: medium;
}

.whatDoDescription p {
	font-family: iransans;
	font-size: small;
	margin: 2em 0;
	line-height: 2em;
}

.blogBox {
	margin-bottom: 2em;
	border: #a6120d30 solid 1px;
}

.blogPhoto {
	overflow: hidden;
	position: relative;
}

.blogPhoto img {
	width: 100%;
	height: auto;
	transition: all .5s;
}

.blogPhoto img:hover {
	transform: scale(1.1);
}

.blogPhotoTitle {
	position: absolute;
	z-index: 2;
	top: 1em;
	right: 1em;
}

.blogPhotoTitle h3 {
	font-size: medium;
	background-color: #a6120d;
	color: white;
	padding: .3em;
}

.blogDate {
	color: rgb(142, 142, 142);
	font-size: small;
	padding: 1em;
}

.blogTitle h3 {
	font-family: iranyekanbold;
	padding: 0 1em;
	font-size: medium;
}

.blogTitle h3:hover {
	color: #a6120d;
}

.blogDescription {
	padding: 1em;
	line-height: 2;
	font-family: iransans;
}

.contactBox {
	border: #a6120da1 solid 2px;
	text-align: center;
	transition: .3s;
	margin: 1em 0 2em 0;
	padding: 1em 0;
}

.contactBox:hover {	
	box-shadow: .3em .3em .7em rgba(0,0,0,.2)
	/* -moz-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
	-ms-box-shadow: 1px 1px 7px rgba(0,0,0,.2);
	-o-box-shadow: 1px 1px 7px rgba(0,0,0,.2); */
}

.contactBox i {
	font-size: 3em;
	color: #a6120d;
	margin: .5em 0;
}
.contactBox h4 {
	font-family: iranyekanbold;
	margin: .5em 0;
}

.bodyEnd {
	margin-bottom: 0;
}

/*------------------------
    4. Footer
------------------------*/

.bodyFooter, .footerTitle, .footerContent, .footerContent, .designer {
	width: 100%;
	height: auto;
	float: right;
}

.bodyFooter {
	background-color: #e3e3e3;
	border-top: 1px solid #a6120da1;
}

.footerTitle h4 {
	font-family: iranyekanbold;
	font-size: medium;
	margin: 2em 0;
	padding-bottom: .5em;
	border-bottom: solid 2px #a6120d;
	float: right;
}

.footerContent ul li {
	margin-bottom: 1.5em;
	width: 100%;
	float: right;
}

.footerContent ul li h3 {
	font-size: small;
	line-height: 2em;
}

.footerContent ul li h3 i {
	margin: 7px 0 0 4px;
	float: right;
}

.footerPhoto {
	text-align: center;
}

.footerPhotoContent {
	margin: 2em;
	text-align: justify;
}

.designer {
	background-color: #a6120d7d;
	font-family: iransans;
	font-size: small;
	padding: 1em;
	text-align: center;
}

/*------------------------
    5. Single
------------------------*/

.singleHeader, .singleBody, .singleMain, .singleTitle, .singleContent, .singleTile, .singleTag {
	width: 100%;
	height: auto;
	float: right;
}

.singleHeader {
	height: 25rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.singleMain {
	background-color: white;
	margin: -4em 0 2em;
	border-radius: 5px;
	padding: 1em;
}

.singleTitle {
	border-bottom: solid 2px #a6120d;
	padding: .2em 0 1.3em;
}

.singleTitle h1 {
	font-size: 1.3em;
	font-family: iranyekanbold;
}

.singleContent {
	padding: 1em 0;
	text-align: justify;
	font-family: iransans;
	line-height: 2;
}

.singleContent a {
	color:#a6120d;
}

.singleContent a:hover {
	color:#e4130c;
}

.singleTile {
  background-color: #f5f5f5;
	border: solid 1px #e3e3e3;
}

.singleTileInformation, .singleTileShare {
	width: 50%;
	float: right;
}

.singleTileInformation ul li {
	float: right;
	padding: .5em;
	font-size: smaller;
	margin: .2em 0 0 1em;
	font-family: iranyekanbold;
}

.singleTileInformation ul li i {
	color:#a6120d;
}

.singleTileShare {
	float: left;
}

.singleTileShare ul li {	
	float: left;
	padding: .5em;
	text-align: center;
}

.singleTileShare ul li i {
	font-size: small;
}

.singleTileShare ul li a {
	border: #e3e3e3 1px solid;
	background-color: white;
	float: left;
	width: 20px;
	height: 20px;
	line-height: 22px;
}

.singleTileShare ul li a:hover {
	background-color: #a6120d;
	color: white;
}

.singleTag {
	padding: 1em 0;
}

.singleTag a {
	border: #e3e3e3 solid 1px;
	padding: .2em .5em;
	margin-left: .5em;
	font-size: smaller;
}

.singleTag a:hover {
	background-color: #a6120d;
	color: white;
}

.singleContent h1, .singleContent h2, .singleContent h3, .singleContent h4, .singleContent h5, .singleContent h6 {
	font-size: 1.3em;
	font-family: iranyekanbold;
	width: 100%;
	float: right;
	margin: .5em 0;

}

/*------------------------
    1. All
------------------------*/

.sidebar, .sidebarLinks, .sidebarBanner, .sidebarTitle, .singleContent {
	width: 100%;
	height: auto;
	float: right;
}

.sidebarLinks {
	margin: 2em 0;
	background-color: rgb(255, 255, 255);
	padding: 1em;
	border-radius: 5px;
}

.sidebarTitle {
	border-bottom: solid 2px #a6120d;
	padding: .2em 0 1.1em;
}

.sidebarTitle h3 {
	font-size: 1.2em;
	font-family: iranyekanbold;
}

.sidebarContent {
	padding: 1em 0;
}

.sidebarContent ul li {
	margin: .5em 0;
	width: 100%;
	float: right;
	line-height: 1.7;
}

.sidebarContent ul li a i {
	margin: 7px 0 0 4px;
	float: right;
}

.sidebarContent ul li a:hover {
	color: #a6120d;
}

.sidebarBanner {
	background-color: yellow;
	float: right;
}

.sidebarBanner a img {
	width: 100%;
}

/*------------------------
    7. Category
------------------------*/

.category, .categoryTitle, .categoryItem, .categoryPhoto, .categoryItemTitle, .categorytButton {
	width: 100%;
	height: auto;
	float: right;
}

.category {	
	margin: 1em 0;
	border-radius: 5px;
	padding: 1em;
}

.categoryTitle {
	border-bottom: solid 2px #a6120d;
	padding: .2em 0 1.3em;
}

.categoryTitle h1 {
	font-size: 2em;
	font-family: iranyekanbold;
}

.categoryTitle h1 a:hover {
	color: #a6120d;
}

.categoryItem {
	margin-top: 2em;
	border: #a6120d30 solid 1px;
	background-color: white;
}

.categoryPhoto img {
	width: 100%;
	height: auto;
}

.categoryItemTitle h3 {
	font-family: iranyekanbold;
	padding: 1em;
	font-size: 1.2em;
}

.categoryItemTitle h3:hover {
	color: #a6120d;
}

.categorytButton {
	text-align: left;
	margin-bottom: .5em;
}

.categorytButton a {
	border: solid 2px #a6120d;
	padding: .2em .6em .3em;
	font-size: .9em;
}

.categorytButton a:hover {
	background-color:#a6120d;
	color: white;
}

/*------------------------
    8. Contactus
------------------------*/

.contactMap, .contactInfo, .contactTitle, .contactContent, .contactForm  {
	width: 100%;
	height: auto;
	float: right;
}

.contactInfo {
	background-color: white;
	margin: 2em 0;
	padding: 1em;
	border-radius: 5px;
}

.contactTitle {
	border-bottom: solid 2px #a6120d;
	padding: .2em 0 1.1em;
}

.contactTitle h1 {
	font-size: 1.2em;
	font-family: iranyekanbold;
}

.contactContent {
	padding-top: 1em;
}

.contactContent ul li {
	line-height: 2;
}

.contactContent ul li i {
	color: #a6120d;
	/* height: 25px;
	width: 25px;
	text-align: center; */
	font-size: 1.2em;
}

.contactForm input, .contactForm textarea {
	border: solid 1px #e3e3e3;
	border-radius: 5px;
	transition: all .3s;
}

.contactForm input:focus, .contactForm textarea:focus {
	border: solid 1px rgb(120, 120, 120);
}

.contactForm input[type=submit] {
	background-color:#a6120d;
	color: white;
	padding: .2em .6em .3em;
	font-size: .9em;
	float: left;
}

.contactForm .gform_wrapper li.hidden_label input {
	margin-top: 0 !important;
}

.contactForm .gform_wrapper ul.gform_fields li.gfield {
	padding: 0 1em !important;
	margin: .3em !important;
}

.contactForm .ginput_container_email, .contactForm .ginput_container_text, .contactForm .ginput_container_textarea {
	margin: 0 !important;
}

.contactForm .gform_wrapper .gform_footer {
	padding: 0 !important;
	margin: 0 !important;
}

/* پیام درست */
.contactForm #gform_confirmation_message_1 {
	color: #32CD32;
	margin: 2.2em;
  text-align: center;
  padding: 1em;
	font-size: 1.1em;
	font-weight: 700;
}
/* پیام غلط */
.contactForm .gform_wrapper div.validation_error {
	color:	#FF0000 !important;
	font-size: 1.1em !important;
	font-weight: 700 !important;
	text-align: center !important;
	border: 0 solid #790000 !important;
	float: right;
}

.contactForm .gform_wrapper .validation_message {
	color: #FF0000 !important;
}

.contactForm .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: rgba(255,223,224,.25);
	border-top: 1px solid #FF0000 !important;
	border-bottom: 1px solid #FF0000 !important;

}

.contactForm 
element.style {
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    max-width: 100%;
    padding-right: 16px;
}
.gform_wrapper .field_description_below .gfield_description {
    padding: 0 !important;
}