/*
    1. All
    2. Header
*/
/*------------------------
    1. All
------------------------*/
@font-face {
	font-family: iransans;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/IRANSansWeb_Light.eot');
	src: url('fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype');  /* IE6-8 */
	src: url('fonts/woff2/IRANSansWeb_Light.woff2') format('woff2');  /* FF39+,Chrome36+, Opera24+*/
	src: url('fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: iransansbold;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/IRANSansWeb_Bold.eot');
	src: url('fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url("fonts/iranyekan/fnumber/iranyekanweblight.eot");
	src: url("fonts/iranyekan/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekan/fnumber/iranyekanwebregular(fanum).woff2") format("woff2"), url("fonts/iranyekan/fnumber/iranyekanweblight.woff") format("woff"), url("fonts/iranyekan/fnumber/iranyekanweblight.ttf") format("truetype")
}
@font-face {
	font-family: iranyekanbold;
	font-style: normal;
	font-weight: 300;
	src: url("fonts/iranyekan/fnumber/iranyekanweblight.eot");
	src: url("fonts/iranyekan/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("fonts/iranyekan/fnumber/iranyekanwebbold(fanum).woff2") format("woff2"), url("fonts/iranyekan/fnumber/iranyekanweblight.woff") format("woff"), url("fonts/iranyekan/fnumber/iranyekanweblight.ttf") format("truetype")
}
body {
	height:auto;
	color: #000000;
	font-family: iranyekan;
  direction: rtl;
  background-color: #f5f5f5;
}
li {
	list-style:none;
}
ul {
	padding:0px !important;
	margin:0px !important;
}
a {
	transition:all .2s !important;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	color:#000000;
}
a ,a:hover, a:focus, a:active ,a:visited {
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6 {
	padding:0px;
	margin:0px;
}
p, figure {
	margin: 0;
}
:focus, button:focus {
	outline: 0;
}
/*------------------------
    2. Header
------------------------*/
.bodyHeader, .headerLogo, .headerMenu, .headerSocialMedia {
	width: 100%;
	height: auto;
	float: right;
}

.bodyHeader {
	background-color: #ffffff;
}

.headerLogo img {
	margin: 1em 0;
	width: 30%;
	float: right;
}

.headerLogo h2 {
	font-family: iranyekanbold;
	font-size: medium;
	float: right;
	margin: 2.6em 1em 0 0;
}

.headerMenu {
	text-align: center;
}

.headerMenu ul li {
	display: inline-block;
	margin: 2.6em 0 0 1em;
}

.headerMenu ul li a {
	display: block;
	padding: .5em 1.5em .7em 1.5em;
}

.headerMenu ul li a:hover {
	border-bottom: solid .5em #a6120d;
	color: #000000;
	background-color: #e3e3e3;
}

.headerSocialMedia ul li {
	float: left;
	margin: 2.5em 0 0 .3em;
	text-align: center;
}

.headerSocialMedia ul li a {
	display: block;
	background-color: #e3e3e3;
}

.headerSocialMedia ul li a i {
	height: 25px;
	width: 25px;
	font-size: 1.2em;
	line-height: 25px;
}

.headerSocialMedia ul li a i:hover {
	color: white;
}

#telegramLogo:hover {
	background-color: #0088cc;
}

#instagramLogo:hover {
	background-color: #E1306C;
}

#twitterLogo:hover {
	background-color: #1DA1F2;
}

#whatsappLogo:hover {
	background-color: #4AC959;
}

#facebookLogo:hover {
	background-color: #4267B2;
}
/*------------------------
    3. Main
------------------------*/
.bodyMain, .mainPhoto, .mainPhoto img, .mainContent, .mainContent p, .contentButton {
	width: 100%;
	height: auto;
	float: right;
}

.bodyMain {
	margin: 1em 0;
	background-color: white;
}

.mainPhoto, .mainContent {
	padding: 2em 0;
}

.mainContent h3 {
	color: rgb(118, 118, 118);
	margin: 6em 0 1em 0;
	font-size: .9em;
}

.mainContent h1 {
	margin-bottom: 1em;
	font-family: iranyekanbold;
	font-size: xx-large;
}

.mainContent p {
	text-align: justify;
	color: rgb(96, 96, 96);
	font-family: iransans;
	line-height: 2.2em;
}

.contentButton {
	margin-top: 3em;
	text-align: left;
}

.contentButton a {
	border: solid 2px #a6120d;
	padding: .6em 1.2em .8em;
}

.contentButton a:hover {
	background-color:#a6120d;
	color: white;
}

.whatDo {
	font-family: iranyekanbold;
	font-size: xx-large;
	margin-bottom: 1em;
	border-bottom: solid#a6120d  2px;
	float: right;
	padding-bottom: .3em;
}

.whatDoLogo {
	text-align: center;
	padding: 0;
}

.whatDoLogo i {
	font-size: 8em;
	color:#a6120d;
}

.whatDoDescription {
	margin-bottom: 1em;
	line-height: 1.5em;
	font-family: iransans;
}
.whatDoDescription h3 {
	line-height: 2em;
}